<label>{{label}}</label>
<select id="{{fu-id 'might'}}" name="system.attributes.might.base">
    {{selectOptions constants.attributeDice selected=base localize=true}}
</select>
<input readonly value="{{fu-die-size current}}">
            