<div class="flexcol">
    <div class="flex0 flexrow">
        <label class="flex0">{{translate }}</label>
        <input type="number" name="system.hp.value" value="{{actor.hp.value}}" class="">
        <span class="flex0">/</span>
        <input type="number" name="system.hp.max" value="{{actor.hp.max}}">
    </div>
</div>