<span class="sep">[</span>
<select name="system.check.attr1">
    {{selectOptions (fu-attributes) selected=system.check.attr1 localize=true labelAttr='short'}}
</select>
<span class="sep">+</span>
<select name="system.check.attr2">
    {{selectOptions (fu-attributes) selected=system.check.attr2 localize=true labelAttr='short'}}
</select>
<span class="sep">]</span>
<span class="sep">+</span>
<input name="system.check.modifier" type="number" value="{{system.check.modifier}}"/>