<span class="sep">[</span>
<span>{{localize (concat 'FABULA_ULTIMA.attribute.' system.damage.roll '.short') }}</span>
<span class="sep">+</span>
<span>{{system.damage.bonus}}</span>
<span class="sep">]</span>
<span>{{localize (concat 'FABULA_ULTIMA.damageType.' system.damage.type ) }}</span>
