<span class="sep">[</span>
<select name="system.damage.roll">
    {{selectOptions (fu-rollTypes) selected=system.damage.roll localize=true labelAttr='short'}}
</select>
<span class="sep">+</span>
<input name="system.damage.bonus" type="number" value="{{system.damage.bonus}}"/>
<span class="sep">]</span>
<select name="system.damage.type">
    {{selectOptions (fu-damageTypes) selected=system.damage.type localize=true}}
</select>