<span class="sep">[</span>
<span>{{localize (concat 'FABULA_ULTIMA.attribute.' system.check.attr1 '.short') }}</span>
<span class="sep">+</span>
<span>{{localize (concat 'FABULA_ULTIMA.attribute.' system.check.attr2 '.short') }}</span>
<span class="sep">]</span>
<span class="sep">+</span>
<span>{{system.check.modifier}}</span>