<section class="form-group">
    {{#each (fu-statusEffects) as | status |}}
        <fieldset class="form-fields">
            <label class="checkbox">
                {{localize status.name}}
                <input type="checkbox" data-status="weak" {{checked (lookup this status.key)}}>
            </label>
        </fieldset>
    {{/each}}
</section>