<section class="form-group">
    <fieldset class="form-fields">
        <label>
            {{localize 'FABULA_ULTIMA.job.skill.advancement.type.select'}}
            <select name="type">
                {{selectOptions this nameAttr='value' labelAttr='title' localize=true }}
            </select>
        </label>
    </fieldset>
</section>