<div>
    <fieldset>
        {{radioBoxes 'attr1' attributes checked=attr1 localize=true }}
    </fieldset>
    <fieldset>
        {{radioBoxes 'attr2' attributes checked=attr2 localize=true }}
    </fieldset>
    <fieldset>
        <label>
            {{localize 'FABULA_ULTIMA.modifier.full'}}
            <input name="modifier" type="number" value="0">
        </label>
    </fieldset>
</div>