<section>
    <label for="faction">{{localize 'FABULA_ULTIMA.dialog.firstTurn.faction'}}</label>
    <select name="faction" id="faction">
        {{selectOptions factions selected=selected nameAttr='value' labelAttr='translation' localize=true}}
    </select>
</section>
<hr>