
.system-fabulaultima .chat-message .check .roll {
    display: inline-block;
    min-width: 24px;
    background-size: cover;
    filter: brightness(.75);
}

.system-fabulaultima .chat-message .check .roll.d6 {
    background-image: url("/icons/svg/d6-grey.svg");
}

.system-fabulaultima .chat-message .check .roll.d8 {
    background-image: url("/icons/svg/d8-grey.svg");
}

.system-fabulaultima .chat-message .check .roll.d10 {
    background-image: url("/icons/svg/d10-grey.svg");
}

.system-fabulaultima .chat-message .check .roll.d12 {
    background-image: url("/icons/svg/d12-grey.svg");
}


.system-fabulaultima .chat-message .check .success {
    color: green;
}

.system-fabulaultima .chat-message .check .failure {
    color: red;
}

.system-fabulaultima .chat-message .check .critical {
    font-weight: bold;
}

.system-fabulaultima .chat-message .check .fumble {
    font-weight: bold;
}

.system-fabulaultima .chat-message .check .difficulty {
    margin-top: 0.5rem;
    font-size: var(--font-size-16);
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

.system-fabulaultima .chat-message .check .result {
    margin-top: 0.5rem;
    font-size: var(--font-size-18);
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}


.system-fabulaultima .chat-message .check .trait::before {
    content: "'";
}
.system-fabulaultima .chat-message .check .trait::after {
    content: "'";
}
.system-fabulaultima .chat-message .check .trait {
    display: inline;
}