@import "item_attack.css";
@import "item_spell.css";
@import "actor_character.css";

.fabula-ultima {
}

.fabula-ultima .editor {
    min-height: 15rem;
}

.fabula-ultima .status-select option[selected] {
    font-weight: bold;
}

.fabula-ultima .status-select option::before {
    font-family: FontAwesome;
    content: "\f096";
    width: 1.3em;
    text-align: center;
    display: inline-block;
}

.fabula-ultima .status-select option[selected]::before {
    content: "\f046";
}

.fabula-ultima .collapse {
    visibility: collapse;
    height: 0;
    transition: height 500ms ease-in;
}

.fabula-ultima .collapse.show {
    visibility: initial;
    height: initial;
}

.fabula-ultima label {
    white-space: nowrap;
}

.fabula-ultima .disabled {
    pointer-events: none;
    cursor: initial;
    color: #666666;
}