.fabula-ultima.item-spell .status-select option[selected] {
    font-style: italic;
    font-weight: bold;
}

.fabula-ultima.item-spell .status-select option::before {
    font-family: FontAwesome;
    font-style: normal;
    content: "\f096";
    width: 1.3em;
    text-align: center;
    display: inline-block;
}

.fabula-ultima.item-spell .status-select option[selected]::before {
    content: "\f046";
}
